.calDate{
    display: flex;
    flex-direction: column;
    color: rgb(42, 199, 139);
}
.calDate > p {
    text-align: center;
}
.day{
    display: flex;
    flex-direction: column;
}
.day:not(:last-child){
    border-right: 0.5px solid gainsboro;
}
.events{
    z-index: 2;
    position: relative;
    height: 100%;
}
.event{
    background-color: rgba(42, 200, 139, 0.8);
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: '0px 10px 10px grey';
    z-index: 3;
    user-select: none;
    width: 100%;
}
.készítésnél, .véglegesítésnél{
    z-index: 4;
}
.newEventName{
    border: none;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.548);
}
.eventButtons{
    align-self: flex-end;
    display: flex;
    z-index: 1;
    width: 100%;
}
.eventButton{
    padding: 5px;
    cursor: pointer;
    flex: 1;
    background-color: rgba(240, 248, 255, 0.144);
    text-align: center
}